
<form method="post" action="testing.php" id="test" name="test">
	
</form>
	<div class="tj">
	
		
			<p class="tj1">部门名称  ：<input type="text" name="test" value="" size="30px"/></p>
			<p class="tj1">负  责  人  :  <input type="text" name="test" value="" size="30px"/></p>
			<p class="tj1">办公电话  ：<input type="text" name="test" value="" size="30px"/></p>
			<p class="tj1">负责人联系方式  ：<input type="text" name="test" value="" size="30px"/></p>
			<p class="tj1">办公邮箱  ：<input type="text" name="test" value="" size="30px"/></p>
			<p class="tj1">办公地址  ：<input type="text" name="test" value="" size="30px"/></p>
			<p class="tj1">部门简介  ：</p><textarea name="test" rows="3" cols="40">
				
			</textarea>

	</div>
	<p class="tj2"><input type="button" name="test" value="确认提交" /></p>
	</form>
