<html>
<head>
	<title>修改部门</title>
</head>
<body>
	<table cellspacing="1" class="grid">
		<form method="post">
		   <tr class="xb3">
		    <td>部门名称：<span class="xb"><input type="text" name="name" value="<{$info.name}>" size="30" /><{$error.name}></span></td>
			</tr>
			<tr class="xb3">
			<td>负责人：<span class="xb1"><input type="text" name="header" value="<{$info.header}>"  size="30" /><{$error.header}></span></td>
			</tr>
			<tr class="xb3">
			<td>办公电话：<span class="xb"><input type="text" name="office_phone" value="<{$info.office_phone}>" size="30" /></span></td>
			</tr>
			<tr class="xb3">
			<td>负责人联系方式:<span class="xb22"><input type="text" name="header_tel" value="<{$info.header_tel}>" size="30" /><{$error.header_tel}></span></td>
			</tr>
			<tr class="xb3">
			<td>办公邮箱：<span class="xb"><input type="text" name="email" value="<{$info.email}>" size="30" /><{$error.email}></span></td>
			</tr>
			<tr class="xb3">
			<td>办公地址：<span class="xb"><input type="text" name="address" value="<{$info.address}>" size="30" /></span></td>
			</tr>
			<tr class="xb3">
			<td>部门简介：<span class="xb"><input type="textarea" name="introduce" value="<{$info.introduce}>"size="30" /></span></td>
			</tr>
		   <tr class="xb3">
			<td><input type="submit" name="sub" value="确认提交" /></td>
			<td><input type="reset" value="重置" class="xb2"/></td>
			<td><input type="submit" name="cancel" value="取消"class="xb33" /></td>
			</tr>
			
			
		
			
		
	
			
			
		</form>

	</table>

	<div class="dc">
	        <input type="submit" name="sub" value="确认提交"  class="xb2"/>
			<input type="reset" value="重置" class="xb2"/>
			<input type="submit" name="cancel" value="取消"class="xb2" />
		
	</div></form>

</body>
</html>