     /**添加管理员**/
.grid tr td{font-size:12px;color:#181818;font-family:Microsoft YaHei;}
.grid1 td{padding-top:5px;}

	 /**添加管理员**/
	 
	 
	 /**管理员列表,登陆日志，短信日志**/
.all55{width:99%px;font-family:Microsoft YaHei;margin-left:-6px;margin-top:-13px;}
.gl tr th{font-size:12px;}
.gl tr td{font-size:12px;}
.gl11 th{font-size:12px;background:url("../images/table-th-bg.gif") repeat-x;}
.gl44{font-size:12px;}
.gl{padding-left:10px;padding-top:20px;}
.gl1{text-decoration:none;color:#1155FF;}

/*.gl2{padding:0 10 0 0;}*/
.text a{color:#fb0707;}
.gl3{text-decoration:none;}
.xy td{padding-top:5px;}
	/**管理员列表,登陆日志，短信日志**/
	
	
	
/**日志查询**/
.rizhichaxun ul li {list-style-type:none;}
.rizhi{padding-left:220px;}
/**日志查询**/

	 
	 /**添加好友的CSS**/
.all22{font-family:Microsoft YaHei;}
.{margin:0;padding:0;list-style-type:none;}
.z1 td{background:url("../images/table-th-bg.gif") repeat-x;font-size:12px;font-family:Microsoft YaHei;}
#zz{padding-top:15px;}
.z7{margin-left:120px;margin-top:-20px;font-size:14px;}
.z8{margin-top:15px;}
.pj{margin-left:41px;}
.pj1{margin-left:16px;}
.pj12{margin-left:33px;}
.pj13{margin-left:8px;}
/**添加好友的CSS**/

/**好友列表的CSS**/
.pl th{font-size:15px;background:url("../images/table-th-bg.gif") repeat-x;}
.pl2{font-size:14px;}
.hh{padding-top:30px;font-family:Microsoft YaHei;}
.hh1{color:#fa6409;font-size:12px;}
.hh12{text-align:center;}
.hh2{color:#1155FF;text-decoration:none;}
.hh4 ul li{padding-top:5px;font-family:Microsoft YaHei;list-style-type:none;float:left;padding-left:14px;}
.hh4 a{text-decoration:none;}
.hh5{font-family:Microsoft YaHei;}
.hh5 tr td{font-size:12px;}
.hh5 tr th{font-size:12px;}
.all66{margin-left:4px;}
.all9{margin-left:6px;}
.h5{padding-top:10px;}
.h1{color:#fa6409;}
.cg ul li{list-style-type:none;float:left;margin-top:40px;margin-left:70px;}
.cg1{border:1px solid#6fbdfb;width:320px;height:150px;background-color:#dcdcdc;margin-left:300px;margin-top:15px;}
.cg2{padding-top:20px;padding-left:10px;}
.xp{margin-left:35px;}
.xp1{margin-left:11px;}
.xp12{margin-left:30px;}
.xp13{margin-left:5px;}



/**好友列表的CSS**/
/**编辑分组**/
.d ul li{list-style-type:none;}
.d_j{border:1px solid #bebebe;background-color:#e8ecec;width:450px;height:200px;margin-left:300px;margin-top:20px;font-family:Microsoft YaHei;}
.d{border:1px solid #bebebe;background-color:#e8ecec;width:450px;height:150px;margin-left:300px;margin-top:20px;font-family:Microsoft YaHei;}
.d1{padding-left:150px;padding-top:10px;font-weight:bold;}
.d2{padding-left:100px;margin-top:60px;}
.d3{float:left;padding-left:50px;}
.d4{padding-left:130px;}

/**编辑分组**/

/**删除好友,新建分组**/
.s ul li{list-style-type:none;}
.s{border:1px solid #bebebe;background-color:#e8ecec;width:350px;height:150px;margin-left:300px;margin-top:20px;font-family:Microsoft YaHei;}
.s1{text-align:center;margin-top:40px;font-size:16px;}
.s2{padding-left:80px;margin-top:20px;float:left;}


.jz1{text-align:center;font-family:Microsoft YaHei;}
.jz2{padding-left:60px;margin-top:20px;}
.jz3{float:left;padding-left:80px;}
/**删除好友,新建分组**/


/**日志查询**/
.rizhichaxun ul li {list-style-type:none;}
.rizhi{padding-left:220px;}
/**日志查询**/

/**查看个人信息**/
.all5{font-family:Microsoft YaHei;}
.zz1 td{font-weight:bold;}
.z2{font-size:14px;color:#181818;}
.zz14{margin-left:12px;}
/**查看个人信息**/
   
   
 /**修改个人信息**/
 .zz11{margin-left:39px;}
 .zz12{margin-left:32px;}
 .zz13{margin-left:39px;}
 .zz22{margin-left:22px;}

 .z2 td{font-size:12px;}
 .all44{font-family:Microsoft YaHei;}
.e4 ul li{padding-left:20px;float:left;list-style-type:none;}
  /**修改个人信息**/
  
  /**修改密码**/
 
  .xm1 td{background:url("../images/table-th-bg.gif") repeat-x;font-family:Microsoft YaHei;font-size:12px;}
  .xm{padding-left:240px;padding-top:10px;font-family:Microsoft YaHei;}
  .xm2{color:#181818;font-size:12px;}
.xm3{padding-top:10px;}
.mm{margin-left:15px;}
.mm1{margin-left:3px;}
	/**修改密码**/
	
	/**添加部门**/
	.tj{font-size:18px;color:#181818;margin:60 0 0 0;padding-left:90px;}
	.tj2{padding-left:180px;}
	
  /**添加部门**/
  
  
  /**部门列表**/
 .bl{padding-left:600px;color:#fa0213;font-size:15px;float:right;}
  .gl22 th{font-size:14px;font-weight:bold;}
  .gl33{font-size:14px;}

  .bm{font-size:18px;}
  .bm1 a{font-size:18px;color:#181818;}
  .bm3 th{font-weight:bold;font-size:17px;color:#000000;}
  .bm2 a{text-decoration:none;font-size:16px;color:#181818;}
	/**部门列表**/
  
  /**修改部门**/
  .xb{margin-left:32px;}
  .xb1{margin-left:44px;}
.xb2{margin-left:-220px;}
.xb33{margin-left:-155px;}
  .xb22{margin-left:5px;}
  .xb3 td{padding-top:5px;}


    /**修改部门**/
    
    
	/**忘记密码**/
.wmm{background-color:#e0e3e4;}
.wm4{margin-left:590px;font-size:16px;font-weight:bold;margin-top:-40px;}


.wm5{margin-left:480px;position:relative;font-size:12px;}
.wm6{padding-top:180px;font-size:16px;font-family:Microsoft YaHei;color:#2a2b2b;}
.wm2{border:1px solid#012527;width:650px;height:280px;margin-left:320px;margin-top:-200px;background-color:#f5f7f7;}
.wm7{margin-left:30px;}
.wm8{margin-left:18px;}

  
  
  /**忘记密码**/