


<table id="info" cellspacing="1" cellpadding="5"  width="100%" bgcolor="#99BBE8">
						<tbody>
						<tr>
							<th class="thbg"></th>
							<th class="thbg">申请人</th>
							<th class="thbg">所属单位</th>
							<th class="thbg">申请时间</th>
							<th class="thbg">条数</th>
						</tr>
						<tr bgcolor="#f7f8f9">
							<td><a href="#" title="删除"><strong>删除</strong></a></td>
							<td>李文凯</td>
							<td>办公室</td>
							<td>2012-8-15 12：45</td>
							<td>1000</td>
						</tr>
						</tbody>
						</table>
						<ul id="page">
							<li><a href="#">上一页</a></li>
							<li class="current"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">下一页</a></li>
						</ul>