<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<{config_load file="base.php"}>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>东北林业大学短信管理平台</title>
	<script type="text/javascript" src="<{#SYSTEM_ROOT#}>checkcode/inner.js">	</script>
	</head>
	<body>
		<form method="post">
			用户名：<input type="text" name="user" /><{$error.user}><br>
			密码：<input type="password" name="pass"/><{$error.pass}><br>
			验证码<input type="text" name="checkcode"/><span id="checkimg" ><img src='<{#SYSTEM_ROOT#}>checkcode/checkcode.php'></span><input type="button" onclick="f5()" value="换一张">
			<{$error.checkcode}><br>
			<input type="submit" name="sub" value="登陆" />&nbsp;&nbsp;
		</form>
	</body>
</html>