<{foreach from=$pass_info item=num}>
<table cellspacing="1" cellpadding="5"  width="100%" bgcolor="#99BBE8">
	<tr>
		<td class="thbg"><{$num.time|date_format:"%Y-%m-%d %R"}></td>
	</tr>
	<tr class="normal">
		<td><{$num.user}>&nbsp;&nbsp;&nbsp;&nbsp;<{$num.content}>&nbsp;&nbsp;&nbsp;&nbsp;
	<{if $num.is_deal==1}>已处理
	<{elseif $num.type==0}>未处理&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="../pass_alt.php?id=<{$num.user_id}>&newsid=<{$num.id}>" title=""><font color="red">修改密码</font></a>
	<{else}>未处理&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="./action/assign/add_app.php?user_id=<{$num.user_id}>&newsid=<{$num.id}>" title=""><font color="red">分配短信</font></a>
	<{/if}></td>
	</tr>
</table>
	
<{/foreach}>
<{include file="pages/default.html" }>
