<div id="in">
							<p id="search">
								<img src="<{#TEM#}>images/icon-mail2.gif" />
								<select class="search_d" name="">
									<option value="val" selected="selected">主题</option>
									<option value="val">姓名</option>
									<option value="val">手机号</option>
								</select>
								<input class="search_d" type="text" name="" value="" />
								<input class="search_d" type="button" name="" value="搜索" />
								<table cellspacing="1" cellpadding="5" border="0" width="100%" bgcolor="#99BBE8">
								<tbody>
								<tr class="thbg">
									<th></th>	
									<th>主题</th>
									<th>回信人</th>
									<th>手机号</th>
									<th>回信内容</th>
									<th>状态</th>
									<th>标记为缺席</th>
								</tr>
								<tr bgcolor="#f1f2f3">
									<td><strong>删除</strong></td>
									<td>开会</td>
									<td>XXX</td>
									<td>xxxxxxxxxxxxxxx</td>
									<td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
									<td><b>已回复</b></td>
									<td><input type="checkbox" name=""></td>
								</tr>
								<tr bgcolor="#f1f2f3">
									<td><strong>删除</strong></td>
									<td>开会</td>
									<td>XXX</td>
									<td>xxxxxxxxxxxxxxx</td>
									<td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
									<td><strong>未回复</strong></td>
									<td><input type="checkbox" name=""></td>
								</tr>
								</tbody>
								</table>

							</p>

						<span class="count">按是否缺席 </span>
						<span class="count"><input type="button" name="test" value="统计" /></span>
						<span class="count">应到人数：20； </span>
						<span class="count">实到人数：20； </span>
							
						</div>

						<ul id="page">
							<li><a href="#">上一页</a></li>
							<li class="current"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">下一页</a></li>
						</ul>