<div id="in">
							<p id="search">
								<img src="<{#TEM#}>images/icon-mail2.gif" />
								<select class="search_d" name="">
									<option value="val" selected="selected">主题</option>
									<option value="val">姓名</option>
									<option value="val">手机号</option>
								</select>
								<input class="search_d" type="text" name="" value="" />
								<input class="search_d" type="button" name="" value="搜索" />
								<table cellspacing="1" cellpadding="5" border="0" width="100%" bgcolor="#99BBE8">
								<tbody>
								<tr class="thbg">
									<th></th>	
									<th>主题</th>
									<th>发送时间</th>
									<th>回信人数</th>
								</tr>
								<tr bgcolor="#f1f2f3">
									<td><strong>删除</strong></td>
									<td><a href="#" title="点击查看详情" >XXX</a></td>
									<td>2012-8-10  12:00:00</td>
									<td><b>12/20</b></td>
								</tr>
								</tbody>
								</table>
							</p>
							</div>

						<input type="button" name="test" value="删除所选" />

						<ul id="page">
							<li><a href="#">上一页</a></li>
							<li class="current"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">下一页</a></li>
						</ul>