
<div id="test" class="all5">
	

	 <div  class="z">
	 <form action="r_pinfo_db.p?table=1&opt=add_do" method="POST" enctype="multipart/form-data">
	 <table width="99%" cellspacing="1" cellpadding="5" border="0" bgcolor="#BAD6EC">
	<tbody>
	<tr class="z1">
   <td><b>基本信息</b></td>
   </tr>
	<tr class="z2" bgcolor="#ffffff">
  <td>
  姓 名  :<span class="zz11"><{$info.name}></span>
 
  </td>
  </tr>
  <tr class="z2" bgcolor="#ffffff">
  <td>
  用户名  :<span class="zz12"><{$info.login_id}></span>

  </td>
  </tr>
  <tr class="z2" bgcolor="#ffffff">
  <td>
   生 日 :<span class="zz11"><{$info.birth}></span>

  </td>
  </tr>
  <tr class="z2" bgcolor="#ffffff">
  <td>
   性 别 :<span class="zz11"><{$info.sex}></span>

  </td>
  </tr>
 <tr class="z2" bgcolor="#ffffff">
 <td>
  单位/公司: <span class="zz14"><{$dept.name}></span>

  </td>
   </tr>
   <tr class="z2" bgcolor="#ffffff">
<td>
手 机  :<span class="zz11"><{$info.tel_1}></span>

</td>
</tr>
<tr class="z2" bgcolor="#ffffff">
<td>
手 机2: <span class="zz13"><{$info.tel_2}></span>

</td>
</tr>
</tbody>

</table>
</form>
  </div>
  <br />
  
  <div class="z3">
	<form action="r_pinfo_db.p?table=1&opt=add_do" method="POST" enctype="multipart/form-data">

	<table width="99%" cellspacing="1" cellpadding="5" border="0" bgcolor="#BAD6EC">
	<tbody>
	<tr class="z1">
   <td><b>办公信息</b></td>
   </tr>
	<tr class="z2" bgcolor="#ffffff">
  <td>
  办公电话  :<span class="zz22"><{$info.office_phone}></span>

  </td>
  </tr>
  <tr class="z2" bgcolor="#ffffff">
  <td>
  单位传真  :<span class="zz22"><{$info.fax}></span>
  </td>
  </tr>
  <tr class="z2" bgcolor="#ffffff">
  <td>
  电子邮箱  :<span class="zz22"><{$info.email}></span>

  </td>
  </tr>
  
  </tbody>
  </table>
  </from>
  
  </div>
  <br />
</div>
